<!DOCTYPE html>
<head>
    <title>admin</title>
</head>
<body>
    <h1>ya5y eat 5ra</h1>
    <form action="/admin" , method = "post">
        <input type="text" placeholder="organization" name="in1" required></br>
        <input type="text" placeholder="location" name="in2" required></br>
        <input type="number" placeholder="how many people" name="in3"required></br>
        <input type="number" placeholder="how long it takes" name="in4"required> </br>       
        <button>submit</button>
    </form>
    <a href="/homepg"></a>
</body>
</html>