<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" >
		<link rel="StyleSheet" href="..//static/css/home.css" />
		<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
		<!-- Add your custom HEAD content here -->

	</head>
	<body>
		<div id="content-container" >
			<div id="page_home_improved_ek1"  >
				<div id="_bg__home_improved_ek2"  ></div>

				<div id="group_2197"  >

					<div id="group_2194"  >
						<img src="{{url_for('static', filename='skins1/image_5.png')}}" id="image_5" />
						<img src="{{url_for('static', filename='skins1/rectangle_859.png')}}" id="rectangle_859" />
						<div id="be_part_of_the_change_you_want_to_see" >
							Be part of the change you want to see
						</div>
						<div id="join_a_community_and_make_an_impact_in_your_area" >
							join a community and make an impact in your area
						</div>

					</div>
					<div id="latest_volunteering_opportunities" >
						Latest volunteering opportunities
					</div>
					<div id="our_vision" >
						Our Vision
					</div>

					<div id="group_2176"  >

						<div id="header"  >

							<div id="nav"  >
								<div id="background"  ></div>

								<div id="chat"  >
									<div id="background_ek1"  ></div>

								</div>

							</div>

							<div id="group_2146"  >
								<div id="image_1"  ></div>

							</div>

						</div>
						<a id="_home_link" href="home_improved.html" >
						<div id="_home" >
							Home
						</div>
						</a>
						<div id="chat_ek1" >
							Chat
						</div>
						<div id="upcoming" >
							Upcoming
						</div>
						<div id="volunteering" >
							Volunteering
						</div>

					</div>

					<div id="group_2196"  >

						<div id="group_2186"  >
							<img src="{{url_for('static', filename='skins1/rectangle_8.png')}}" id="rectangle_8" />

							<div id="_3_hotels"  >

								<div id="sekarwangi"  >
									<div id="rectangle_6"  ></div>

								</div>

							</div>

							<div id="_3_hotels_ek1"  >

								<div id="sekarwangi_ek1"  >
									<div id="rectangle_6_ek1"  ></div>

								</div>

							</div>

							<div id="group_2119"  >

								<div id="group_2183"  >

									<div id="group_2116"  >

										<div id="group_2115"  >
											<img src="{{url_for('static', filename='skins1/image_5_ek1.png')}}" id="image_5_ek1" />

											<div id="sekarwangi_ek2"  >

												<div id="sekarwangi_ek3"  >

													<div id="feature"  >
														<div id="__14_reviews_" >
															(14 Reviews)
														</div>
														<div id="_5_0" >
															5.0
														</div>

													</div>

												</div>

												<div id="group_1734"  >

													<div id="_36"  >
														<img src="{{url_for('static', filename='skins1/vector.png')}}" id="vector" />

													</div>

													<div id="_38"  >
														<img src="{{url_for('static', filename='skins1/vector_ek1.png')}}" id="vector_ek1" />

													</div>

													<div id="_37"  >
														<img src="{{url_for('static', filename='skins1/vector_ek2.png')}}" id="vector_ek2" />

													</div>

													<div id="_39"  >
														<img src="{{url_for('static', filename='skins1/vector_ek3.png')}}" id="vector_ek3" />

													</div>

													<div id="_40"  >
														<img src="{{url_for('static', filename='skins1/vector_ek4.png')}}" id="vector_ek4" />

													</div>

												</div>

												<div id="sekarwangi_ek4"  >

													<div id="feature_ek1"  >
														<div id="__14_reviews__ek1" >
															(14 Reviews)
														</div>
														<div id="_5_0_ek1" >
															5.0
														</div>

													</div>

												</div>

												<div id="group_1735"  >

													<div id="_36_ek1"  >
														<img src="{{url_for('static', filename='skins1/vector_ek5.png')}}" id="vector_ek5" />

													</div>

													<div id="_38_ek1"  >
														<img src="{{url_for('static', filename='skins1/vector_ek6.png')}}" id="vector_ek6" />

													</div>

													<div id="_37_ek1"  >
														<img src="{{url_for('static', filename='skins1/vector_ek7.png')}}" id="vector_ek7" />

													</div>

													<div id="_39_ek1"  >
														<img src="{{url_for('static', filename='skins1/vector_ek8.png')}}" id="vector_ek8" />

													</div>

													<div id="_40_ek1"  >
														<img src="{{url_for('static', filename='skins1/vector_ek9.png')}}" id="vector_ek9" />

													</div>

												</div>

											</div>
											<div id="ellipse_8"  ></div>
											<img src="{{url_for('static', filename='skins1/rectangle_8_ek1.png')}}" id="rectangle_8_ek1" />
											<div id="text" >
												<br/>
											</div>

											<div id="group_2098"  >
												<div id="homeless" >
													Homeless
												</div>

											</div>

											<div id="group"  >
												<img src="{{url_for('static', filename='skins1/vector_ek10.png')}}" id="vector_ek10" />

											</div>
											<div id="shulamit_center" >
												Shulamit Center
											</div>

											<div id="group_2114"  >
												<div id="shim_on_rokah_st_28__jerusalem" >
													Shim'on Rokah St 28, Jerusalem
												</div>
												<img src="{{url_for('static', filename='skins1/vector_ek11.png')}}" id="vector_ek11" />

												<div id="group_ek1"  >
													<img src="{{url_for('static', filename='skins1/vector_ek12.png')}}" id="vector_ek12" />

												</div>

											</div>

											<div id="popular"  >

											</div>

											<div id="popular_ek1"  >

											</div>

										</div>

									</div>

								</div>
								<div id="cleaning" >
									Cleaning<br/><br/>
								</div>
								<div id="serving_food" >
									Serving food
								</div>

							</div>

							<div id="_36_ek2"  >

							</div>

						</div>
						<div id="rectangle_865"  ></div>
						<a href="volunteering">
						<div id="see_all____" >
							See all -->
						</div></a>

					</div>

				</div>
				<img src="{{url_for('static', filename='skins1/image_3.png')}}" id="image_3" />

			</div>
		</div>
	</body>
</html>