<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>sign_up_page</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" >
		<link rel="StyleSheet" href="..//static/css/sign_up_page.css" />
		<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
		<!-- Add your custom HEAD content here -->

	</head>
	<body>
		<div id="content-container" >
			<div id="page_sign_up_page_ek1"  >
				<div id="_bg__sign_up_page_ek2"  ></div>

				<div id="frame_3"  >

					<div id="frame_5"  >

					</div>

				</div>

				<div id="sign_up_page_ek3"  >
					<img src="{{url_for('static', filename='skins/ren_ran_bbiusdck8tu_unsplash_2.png')}}" id="ren_ran_bbiusdck8tu_unsplash_2" />
					<img src="{{url_for('static', filename='skins/rectangle_1.png')}}" id="rectangle_1" />
					<form action="/signup" method="post">
					<div id="group_1"  >
						<div id="name" >
		
							<input type="text" name="name" placeholder="Name" id="input-name" required>						</div>
						<img src="{{url_for('static', filename='skins/vector_1.png')}}" id="vector_1" />

					</div>
					<img src="{{url_for('static', filename='skins/vector_1_ek1.png')}}" id="vector_1_ek1" />

					<div id="group_2"  >
						<div id="email" >
							<input type="email" name="email" placeholder="Email" id="input-email" required>
						</div>
						<div id="password" >
							<input type="password" name="password" placeholder="Password" id="input-password" required>
						</div>
						<img src="{{url_for('static', filename='skins/vector_1_ek2.png')}}" id="vector_1_ek2" />
						<img src="{{url_for('static', filename='skins/vector_2.png')}}" id="vector_2" />
					
					</div>
					<div id="welcome_to_hestia_" >
						Welcome to Hestia!
					</div>
					<div id="already_have_an_account___log_in" >
						Already have an Account ? <a href="/">Log in</a>
					</div>

					<div id="frame_1"  >
						<div id="rectangle_2"  ></div>

					</div>
					<button class="signup-button">Sign Up</button>
					</form>
					<div id="or_sign_up_with" >
						Or Sign Up with 
					</div>

					<div id="group_3"  >

						<div id="google_logo"  >
							<div id="rectangle_4"  ></div>
							<div id="rectangle_3"  ></div>

							<div id="google_1"  >
								<img src="{{url_for('static', filename='skins/vector.png')}}" id="vector" />
								<img src="{{url_for('static', filename='skins/vector_ek1.png')}}" id="vector_ek1" />
								<img src="{{url_for('static', filename='skins/vector_ek2.png')}}" id="vector_ek2" />
								<img src="{{url_for('static', filename='skins/vector_ek3.png')}}" id="vector_ek3" />

							</div>

						</div>

						<div id="apple_logo"  >
							<div id="rectangle_7"  ></div>
							<div id="rectangle_8"  ></div>

							<div id="apple_seeklogo_com_1"  >

								<div id="group"  >
									<img src="{{url_for('static', filename='skins/vector_ek4.png')}}" id="vector_ek4" />

								</div>

							</div>

						</div>

					</div>

					<div id="frame_4"  >

					</div>

				</div>

			</div>
		</div>
	</body>
</html>